.box1{
    width:380px;
    height:780px;
    border:1px solid black;
    border-radius:30px;
    margin-left:60px;
}
.box2{
    width:12px;
    height:12px;
    border:1px solid black;
    margin-left:80px;
    margin-top:30px;
    border-radius:50%;
    background-color:black;
}
.box3{
    width:70px;
    height:6px;
    border:1px solid black;
    margin-left:60px;
    border-radius:8px;
    background-color:black;
}
.box4{
    width:20px;
    height:6px;
    border:1px solid black;
    margin-left:120px;
    border-radius:8px;
    background-color:black;
}
.box5{
    width:340px;
    height:655px;
    border:1px solid black;
    margin-left:20px;
    margin-top:25px;
}
.sousuo{
    margin-top:10px;
    display:flex;
    flex-direction:row;
    justify-content:space-around;
}
#input{
    width:90%;
    padding-left:25px;
    background:url(http://a3.qpic.cn/psb?/V11MNOej1e2eXs/oe56ycK9LR7A2e3XmlmNmvdkeSp9.lrhr9WZYGwKrmY!/b/dLMAAAAAAAAA&bo=GQAZABkAGQARBzA!&rf=viewer_4) no-repeat;"
}
#myCarousel{
    margin-top:10px;
}
.tubiao{
    margin-top:10px;
    display:flex;
    flex-direction:row;
    justify-content:space-around;
}
#t1{
    border-radius:50%;
    width:12%;
    height:12%;
}
.wenzi{
    display:flex;
    flex-direction:row;
    justify-content:space-around;
}
.t2{
    font-size:110%;
}
hr{
    border:1px solid	#D8D8D8;
    margin-top:10px;
    margin-bottom:10px;
}
.huati{
    display:flex;
    flex-wrap:wrap;
    flex-direction:row;
    align-content:space-around;
}
.column{
    flex-basis:100%;
    display:flex;
    justify-content:space-around;
}
#img1{
    width:6%;
}
.shipin{
    display:flex;
    flex-direction:row;
    justify-content:space-around;
}
.pip{
    font-size:150%;
}
.shipin2{
    display:flex;
    flex-direction:row;
    justify-content:space-around;
}
#img2{
    width:90%;
    height:80%;
}
.footer{
    margin-top:10px;
    display:flex;
    flex-direction:row;
    justify-content:space-around;
}
.weibo{
    display:flex;
    flex-direction: column;
    justify-content: space-between;
}

.wenzi2{
    font-size:100%;
    font-weight:bold;
}
.xiaoxi{
    display:flex;
    flex-direction: column;
    justify-content: space-between;
}
.jia{
    display:flex;
    flex-direction: column;
    justify-content: space-between;
}
.pip1{
    font-size:180%;
}
.faxian{
    display:flex;
    flex-direction: column;
    justify-content: space-between;
}
.wo{
    display:flex;
    flex-direction: column;
    justify-content: space-between;
}
.box6{
    width:60px;
    height:30px;
    border:2px solid black;
    margin-left:160px;
    margin-top:15px;
    border-radius:15px;
}

