.box1{
    width:380px;
    height:660px;
    border:1px solid black;
    border-radius:30px;
    margin-left:60px;
}
.box2{
    width:12px;
    height:12px;
    border:1px solid black;
    margin-left:80px;
    margin-top:30px;
    border-radius:50%;
    background-color:black;
}
.box3{
    width:70px;
    height:6px;
    border:1px solid black;
    margin-left:60px;
    border-radius:8px;
    background-color:black;
}
.box4{
    width:20px;
    height:6px;
    border:1px solid black;
    margin-left:120px;
    border-radius:8px;
    background-color:black;
}
.box5{
    width:340px;
    height:520px;
    border:1px solid black;
    margin-left:20px;
    margin-top:25px;
}
.toubu{
    height:15px;
    margin-top:5px;
    display:flex;
    flex-direction:row;
    justify-content:space-around;
}
.pip{
    font-size:150%;
}
hr{
    border:1px solid	#D8D8D8;
    margin-top:15px;
    margin-bottom:10px;
}
.sousuo{
    margin-top:20px;
    display:flex;
    flex-direction:row;
    justify-content:space-around;
}
#input{
    width:90%;
    padding-left:25px;
    background:url(http://a3.qpic.cn/psb?/V11MNOej1e2eXs/oe56ycK9LR7A2e3XmlmNmvdkeSp9.lrhr9WZYGwKrmY!/b/dLMAAAAAAAAA&bo=GQAZABkAGQARBzA!&rf=viewer_4) no-repeat;"
}
.yuan{
    display:flex;
    flex-direction:row;
    justify-content:space-around;
}
#t0{
    border-radius:50%;
    width:90%;
    height:90%;
}
#t1{
    border-radius:50%;
    border:2px solid orange;
    width:90%;
    height:90%;
}
.wenzi{
    display:flex;
    flex-direction:row;
    justify-content:space-around;
}
.t2{
    font-size:110%;
}
.touxiang{
    display:flex;
    margin-left:10px;
}
.t3{
    border-radius:50%;
    width:16%;
    height:16%;
}
.mingzi{
    margin-left:15px;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
}
.t4 img{
    width:12%;
    height:12%;
}
.t4{
    color:orange;
    font-size:110%;
}
.text-muted{
    font-size:90%;
}
.neirong{
    margin-top:10px;
    display: flex;
    flex-direction:row;
    justify-content:space-around;
}
.tu{
    margin-top:10px;
    display:flex;
    flex-direction:row;
    justify-content:space-around;
}
.tu img{
    width:30%;
    height:14%;
}
.tu2{
    margin-top:10px;
    display:flex;
    flex-direction:row;
    justify-content:space-around;
}
.footer{
    margin-top:10px;
    display:flex;
    flex-direction:row;
    justify-content:space-around;
}
.weibo{
    display:flex;
    flex-direction:column;
    justify-content:space-between;
}
.wenzi2{
    font-size:100%;
    font-weight:bold;
}
.xiaoxi{
    display:flex;
    flex-direction:column;
    justify-content:space-between;
}
.jia{
    display:flex;
    flex-direction: column;
    justify-content: space-between;
}
.pip1{
    font-size:180%;
}
.faxian{
    display:flex;
    flex-direction: column;
    justify-content: space-between;
}
.wo{
    display:flex;
    flex-direction: column;
    justify-content: space-between;
}
.box6{
    width:60px;
    height:30px;
    border:2px solid black;
    margin-left:160px;
    margin-top:20px;
    border-radius:15px;
}