.box1{
    width:380px;
    height:750px;
    border:1px solid black;
    border-radius:30px;
    margin-left:60px;
}
.box2{
    width:12px;
    height:12px;
    border:1px solid black;
    margin-left:80px;
    margin-top:30px;
    border-radius:50%;
    background-color:black;
}
.box3{
    width:70px;
    height:6px;
    border:1px solid black;
    margin-left:60px;
    border-radius:8px;
    background-color:black;
}
.box4{
    width:20px;
    height:6px;
    border:1px solid black;
    margin-left:120px;
    border-radius:8px;
    background-color:black;
}
.box5{
    width:340px;
    height:620px;
    border:1px solid black;
    margin-left:20px;
    margin-top:25px;
}
.shezhi{
    margin-top:10px;
    display:flex;
    flex-direction:row;
    justify-content:space-between;
}
.all{
    display:flex;
    flex-direction:row;
    justify-content:space-between;
}
#line{
    border:3px solid	#D8D8D8;
    margin-top:10px;
    margin-bottom:10px;
}
.pip{
    font-size:20px;
}
.touxiang{
    display:flex;
    flex-direction:row;
    justify-content:space-between;
}
.weibo1{
    width:120px;
    height:45px;
    border:1px solid white;
    text-align:center;
    display:flex;
    flex-direction:row;
    justify-content:space-between;
}
.ming{
    display:flex;
    flex-direction: column;
}
.t4{
    font-size:16px;
}
.img-circle{
    width:50%;
}
.text-muted{
    font-size:10px;
}
.tou{
    display:flex;
    justify-content:center;
    align-items:center;
}
.s1{
    color:orange;
}
#line2{
    border:1px solid	#D8D8D8;
    margin-top:10px;
    margin-bottom:10px;
}
.guanzhu{
    display:flex;
    flex-direction:row;
    justify-content:space-around;
}
.footer{
    margin-top:10px;
    display:flex;
    flex-direction:row;
    justify-content:space-around;
}
.weibo{
    display:flex;
    flex-direction: column;
    justify-content: space-between;
}
.wenzi2{
    font-size:100%;
    font-weight:bold;
}
.xiaoxi{
    display:flex;
    flex-direction: column;
    justify-content: space-between;
}
.jia{
    display:flex;
    flex-direction: column;
    justify-content: space-between;
}
.pip1{
    font-size:180%;
}
.faxian{
    display:flex;
    flex-direction: column;
    justify-content: space-between;
}
.wo{
    display:flex;
    flex-direction: column;
    justify-content: space-between;
}
.box6{
    width:60px;
    height:30px;
    border:2px solid black;
    margin-left:160px;
    margin-top:15px;
    border-radius:15px;
}